.depFltStrip, .arrFltStrip {
    color: #fff;
    width: 85%;
    border: 1px solid #fff;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.depFltStrip {
    background-color: rgb(10, 121, 10);
}

.arrFltStrip {
    background-color: rgb(10, 110, 240);
}