.info {
  font-size: 0.9em;
  height: 400px;
  overflow: auto;
  padding: 1em;
}

.info img {
  padding-right: 1.5em;
  margin-bottom: 0.5em;
  width: 70%;
  text-align: left;
  display: block;
}

.inputInstructions li {
  margin-bottom: 1em;
}