.info {
  font-size: 0.9em;
  height: 500px;
  width: auto;
  overflow: auto;
  padding: 1em;
}

.info img {
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 70%;
}

.inputInstructions li {
  margin-bottom: 1em;
}